<head>
  <title>Multiply | Online Calculator</title>
</head>

<body>
  <h1>Multiply</h1>
  <form action="/calculate_multiply" method="POST">
 	 <input type="number" name="number1" placeholder="1st number"> + 
  	 <input type="number" name="number2" placeholder="1st number">

  	 <button type="submit">Calculate</button>

  </form>


</body>

</html>