<head>
  <title>Operate | Online Calculator</title>
</head>

<body>
  <h1>Operate</h1>
  <form action="/calculate_add" method="POST">

 	 <input type="number" name="number1" placeholder="1st number"> + 
  	 <input type="number" name="number2" placeholder="1st number">

  	 <button type="submit" name="operation" value="addition">ADD</button>
  	 <button type="submit" name="operation" value="substraction">SUBSTRACT</button>
  	 <button type="submit" name="operation" value="multiplication">MULTIPLY</button>
  	 <button type="submit" name="operation" value="division">DIVIDE</button>

  </form>

</body>

</html>